.personal {
  position: relative;
  background-image: linear-gradient(to right, $light-blue, $light-green);
  height: 50rem;
  width: 60rem;
  display: flex;
  font-weight: bold;
  border-radius: 15px;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
  border: 2px solid $black;
}

.personal-title {
  position: relative;
  color: $black;
  font-weight: bold;
  font-size: 50px;
  background-color: $white;
  border-radius: 15px;
  margin-top: 25px;
  height: 100px;
  width: 50rem;
  border: 2px solid $black;
  margin-left: 6rem;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  text-decoration: none;
}

.personal p {
  position: relative;
  display: flex;
  color: $black;
  font-family: 'Ubuntu', sans-serif;
  background-color: $white;
  height: 39rem;
  width: 50rem;
  border: 2px solid $black;
  border-radius: 15px;
  margin-top: 1rem;
  margin-left: 6rem;
  font-size: 40px;
  padding: 30px;
  overflow-y: scroll;
  text-decoration: none;
}
