.diploma-card {
  position: relative;
  background-image: linear-gradient(to right, $light-green, $light-blue);
  height: 67rem;
  width: 86rem;
  display: flex;
  font-weight: bold;
  border-radius: 15px;
  margin: 15px;
  margin-top: 30px;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
  border: 2px solid black;
}

.diploma-card-title {
  color: black;
  font-size: 50px;
  background-color: white;
  border-radius: 15px;
  margin-top: 25px;
  height: 100px;
  width: 600px;
  border: 2px solid black;
  margin-left: 26rem;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
}

.diploma-photo {
  height: 54rem;
  width: 80rem;
  border-radius: 15px;
  border: 2px solid black;
  margin-left: 50px;
}
