.slidshow_container {
  position: relative;
  background-image: linear-gradient(to right, $light-green, $light-blue);
  height: 100%;
  width: 91%;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  margin-left: 17%;
  flex-direction: column;
  border: 2px solid $black;
}
