.project_spacetrip {
  position: relative;
  background-image: linear-gradient(to right, $light-blue, $light-green, $light-blue);
  height: 91rem;
  width: 102rem;
  display: flex;
  font-weight: bold;
  border-radius: 15px;
  margin-left: -5px;
  margin-top: 30px;
  margin-bottom: 15px;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
  border: 2px solid $black;
}

.project_spacetrip_title {
  color: $black;
  font-size: 60px;
  background-color: $white;
  border-radius: 15px;
  margin-top: 25px;
  height: 100px;
  width: 93rem;
  border: 2px solid $black;
  margin-left: 75px;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  display: flex;
  margin-bottom: 2rem;
  text-decoration: underline;
}

.desription_spacetrip {
  color: $black;
  font-size: 30px;
  background-color: $white;
  border-radius: 15px;
  margin-top: 10px;
  height: 165px;
  width: 93rem;
  border: 2px solid $black;
  margin-left: 75px;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  display: flex;
  margin-bottom: 2rem;
  padding-left: 10px;
}
