.project_video {
  position: relative;
  background-image: linear-gradient(to right, $light-blue, $light-green, $light-blue);
  height: 86rem;
  width: 102%;
  display: flex;
  font-weight: bold;
  border-radius: 15px;
  margin-left: -5px;
  margin-bottom: 15px;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
  border: 2px solid $black;
}

.project_card_header {
  background-color: $white;
  border-radius: 15px;
  margin-top: 25px;
  width: 92%;
  margin-left: 4rem;
  border: 2px solid $black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project_card_title {
  color: $black;
  font-size: 4vw;
  margin-left: 75px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

.project_card_subtitle {
  color: $black;
  margin-left: 75px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 4vw;
  text-decoration: underline;
}

.video {
  margin-left:2rem;
  margin-top: 1rem;
}

.project_description  {
  color: $black;
  font-size: 4vh;
  background-color: $white;
  border-radius: 15px;
  margin-top: 25px;
  height: 120px;
  width: 91%;
  border: 2px solid $black;
  margin-left: 75px;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  display: flex;
  padding-left: 10px;
}
