.slideshow_project {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.slideshow_project img {
  width: 99%;
  height: 63rem;
  margin-left: 8px;
  border-radius: 15px;
  border: 2px solid black;
  display: none;
}

.slideshow_project img.active_project {
  display: block;
}

.btn_container_project {
  margin: 1rem;
  text-align: center;
}

.btn_project {
  margin: 0 5px;
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: white;
  color: black;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  font-size: 3vh;
  font-weight: bold;
}
