.spacetrip_project {
  position: relative;
  background-image: linear-gradient(to right, $light-blue, $light-green, $light-blue);
  height: 79rem;
  width: 102rem;
  display: flex;
  font-weight: bold;
  border-radius: 15px;
  margin-left: -5px;
  margin-top: 30px;
  margin-bottom: 15px;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
  border: 2px solid $black;
}

.project_card_title-first {
  color: $black;
  font-size: 60px;
  background-color: $white;
  border-radius: 15px;
  margin-top: 25px;
  height: 100px;
  width: 94rem;
  border: 2px solid $black;
  margin-left: 75px;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  display: flex;
}

.project-description-title {
  color: $black;
  font-size: 60px;
  background-color: $white;
  border-radius: 15px;
  margin-top: 25px;
  height: 100px;
  width: 94rem;
  border: 2px solid $black;
  margin-left: 75px;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  display: flex;
}

.project-description-first  {
  color: $black;
  font-size: 18px;
  background-color: $white;
  border-radius: 15px;
  margin-top: 25px;
  height: 100px;
  width: 100rem;
  border: 2px solid $black;
  margin-left: 75px;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
}

.slideshow-container_2 {
  position: relative;
  background-color: #8AAAE5;
  height: 50rem;
  width: 50rem;
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 15px;
  margin-left: 20px;
  margin-top: 30px;
  margin-right: 20px;
  flex-direction: column;
  border: 2px solid $black;
}

.slider_project {
  width: 500px;
  height: 300px;
  background-color: yellow;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  text-align: center;
  overflow: hidden;
}
.image-container {
  width: 1500px;
  background-color: pink;
  height: 300px;
  clear: both;
  position: relative;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s;
}

.slide_project {
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
}
#slide-1:target ~ .image-container {
  left: 0px;
}
#slide-2:target ~ .image-container {
  left: -500px;
}
#slide-3:target ~ .image-container {
  left: -1000px;
}

#slide-4:target ~ .image-container {
  left: -1500px;
}

#slide-5:target ~ .image-container {
  left: -2000px;
}

.buttons_project {
  position: relative;
  top: -20px;
}
.buttons_project a {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background-color: lightgreen;
}
