<div class='container'>
  <div class='row'>
    <div class='col-11'>
      <div class='navbar'>
        <div class='navbar-2'>
          <a class='navbar-item'>Project</a>
          <a class='navbar-item'>About</a>
          <a class='navbar-item'>Home</a>
        </div>
        </div>
    </div>
    <div class='col-1'>
      <div class="dropdown">
        <img class="icon" src="icon-social-media.png" />
        <div class="dropdown-options">
          <a href="https://www.linkedin.com/in/robinvorstedt/", alt: "link to linkedin">LinkedIn</a>
          <a href="https://github.com/RobinV-sudo/", alt: "link to github">Github</a>
          <a href="mailto:robinvorstedt@outlook.com", alt: "link to e-mail">E-mail</a>
          <a href="https://api.whatsapp.com/send?phone=31640229542", alt: "link to whatsapp">Whatsapp</a>
          <a href="", alt: "link to kakeotalk">KakeoTalk</a>
        </div>
      </div>
    </div>
  </div>
</div>
