<div class='container'>
  <div class='row no-gutters'>
    <div class='col-11'>
      <div class='navbar'>
        <div class='navbar-2'>
          <a class='navbar-item'>Project</a>
          <a class='navbar-item'>About</a>
          <a class='navbar-item'>Home</a>
        </div>
        </div>
    </div>
    <div class='col-1'>
      <div class="dropdown">
        <img class="icon" src="/assets/icon-social-media.png" />
        <div class="dropdown-options">
          <a href="https://www.linkedin.com/in/robinvorstedt/", alt: "link to linkedin">
            <img src='/assets/Linkedin-logo-version-2.png'>
            Linkedin
          <a href="https://github.com/RobinV-sudo/", alt: "link to github">
            <img src='/assets/icon-github.png'>
            Github
          <a href="mailto:robinvorstedt@outlook.com", alt: "link to e-mail">
            <img src='/assets/Mail-icon.png'>
            E-mail
          <a href="https://api.whatsapp.com/send?phone=31640229542", alt: "link to whatsapp">
            <img src='/assets/Whatsapp-logo-version-2.webp'>
            Whatsapp
          <a alt: "link to kakeotalk", src='/assets/Linkedin-logo-version-2.png'> <!-- create link to kakaotalk -->
            <img src='/assets/kakaotalk-icon.png'>
            KakeoTalk
        </div>
      </div>
    </div>
    <div class="col-7">
      <div class="personal">
        <h2 class="personal-title">Creative Web Developer</h2>
          <div class="personal-information">
            <p>Welcome to the innovative world of web development, where creativity knows no bounds! As a creative web developer, I am here to sculpt the virtual landscape with captivating designs, cutting-edge technologies, and seamless user experiences.
              With a passion for pushing the boundaries of possibility, I bring a unique blend of artistry and technical expertise to every project. Whether it's crafting visually stunning websites that leave visitors in awe or developing dynamic web applications that revolutionize the user's digital journey, I thrive on transforming ideas into tangible, interactive realities.
              I embrace the ever-evolving nature of the web, constantly staying ahead of the curve to harness the latest trends and emerging technologies. From responsive and mobile-friendly designs to the seamless integration of multimedia elements, my solutions cater to the diverse needs of today's dynamic online audience.
              Driven by a vision of creating not just websites, but digital experiences that leave a lasting impact, I immerse myself in understanding the client's objectives and their target audience. By forging deep connections between technology, design, and user behavior, I ensure that every project speaks directly to the hearts and minds of the users.
              In a rapidly evolving digital world, I thrive on adapting, exploring, and breaking new ground. My skills encompass a wide range of programming languages, frameworks, and content management systems, enabling me to weave tailor-made solutions that perfectly align with the client's vision.
              Collaboration lies at the heart of my creative process, working hand in hand with clients and teams to breathe life into concepts that transcend expectations. I believe in the power of user-centric designs, intuitive navigation, and smooth functionality to create websites that captivate, engage, and inspire action.
              Above all, as a creative web developer, I am dedicated to excellence, passionate about innovation, and committed to delivering a digital experience that leaves an indelible mark. So, let's embark on this extraordinary journey together and redefine the boundaries of web development!</p>
          </div>
      </div>
    </div>
    <div class="col-4">
      <div class="photo_card_home">
        <h2 class="photo_card_home_title">Robin Vorstedt</h2>
        <img scr="IMG-20230110-WA0022.jpg", alt: robinvorstedt, class="photo-home">
      </div>
    </div>
  </div>
</div>
