  <div class="row">
    <div class="col-md-12">
      <div class="project_video">
        <h2 class="project_card_title">Eind project on Le Wagon</h2>
          <div class="video-youtube">
            <iframe class="video" width="1560" height="915" src="https://www.youtube.com/embed/g7OyPhu_LVU" title="virtual-styler" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
          <h2 class="project_description" >This project I did it with 3 other classmates. this presenter was presented by 2 of my classmates.</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="project_spacetrip">
        <h2 class="project_spacetrip_title">Project Spacetrip</h2>
      </div>
    </div>
  </div>
